@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

/* highlight current page of livewire paginator*/
[aria-current] span {
    font-weight: bold;
    background-color: #3b82f6;
    color: white;
}
